.profile-comp {
  background-color: rgba(80, 69, 69, 0.466);
  height: 400px;
  width: 380px;
  border-radius: 20px 4px 48px 4px;
  margin-left: 550px;
  margin-top: 100px;
  display: inline-block;
}
h6 {
  color: rgb(0, 0, 0);
  margin-left: 50px;
  padding: 25px;
}
.img {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-left: 37%;
  margin-top: 20px;
}
.butt {
  background-color: #474745;
  border-radius: 28px;
  border: 1px solid #474745;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgba(47, 102, 39, 0.171);
  margin-left: 670px;
  margin-top: 50px;
}
.butt:hover {
  background-color: #3f3f3d;
}
.butt:active {
  position: relative;
  top: 1px;
}
.time {
  height: 50px;
  width: 120px;
}
